[Unit]
Description=Kanata Service

[Service]
ExecStartPre=/sbin/modprobe uinput
ExecStart=/path/to/.local/bin/kanata -c /path/to/.config/kanata/init.kbd
Restart=always

[Install]
WantedBy=multi-user.target

